@import "variables";
@import "layouts";
@import "theme";
@import "typography";

* {
  box-sizing: border-box;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

html,
body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  font-weight: normal;
  scroll-behavior: smooth;
  line-height: 1.5;
  background: #FCFCFC;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &.mobile-nav {
    overflow: hidden;
  }
}

.text-primary {
  color: #6A8B2C;
}

.strong {
  font-weight: 700;
}

.el-form {
  width: 100%;

  .el-form-item__label {
    color: #292222;
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.el-input {
  width: 100% !important;
}

.el-input__inner {
  font-size: 1rem;
  font-weight: 600;

  &::placeholder {
    font-size: 0.875rem;
    font-weight: 500;
  }
}

.el-textarea__inner {
  font-family: "Oxygen", sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
}

.el-badge__content.is-fixed {
  right: 60px;
}

a,
a:hover {
  text-decoration: none;
}

.w-85 {
  width: 85%;
  margin: auto;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-4 {
  margin-top: 2rem;
}

.el-select {
  width: 100%;
}
/* ===================  Carousel Pagination ========================= */
.ms-header {
  .VueCarousel-pagination {
    position: relative;
    top: -80px;
  }
}

.VueCarousel-dot,
.VueCarousel-dot:hover,
.VueCarousel-dot:focus {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);

  .header-gradient {
    background: rgb(0, 146, 63);
    background: linear-gradient(
        135deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.2) 54%,
        rgba(255, 255, 255, 0) 76%
    );
  }
}

@keyframes scale {
  to {
    transform: scale(1.3);
  }
}

  /* =================== El Button ========================= */
.el-button {
  padding: 15px 35px !important;
  font-family: "Oxygen", sans-serif;
  font-weight: 600;

  &:hover {
    position: relative;
    transform: translateY(-4px);
    box-shadow: -4px 16px 30px rgba(0, 0, 0, 0.08) !important;
    transition: all 0.2s ease-out;
  }

  &.is-round {
    border-radius: 100px;
  }

  &.el-button--secondary,
  &.el-button--secondary:hover,
  &.el-button--secondary:focus {
    background: #fdc500;
    border-color: #fdc500;
    color: #fff;
  }

  a {
    color: #fff !important;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -30%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.9);
  }
}
  /* =================== Form ========================= */
.el-form-item__label {
  color: #ffffff;
}

  /* =================== Accordion ========================= */
.el-collapse-item {
  margin-bottom: 25px;

  .el-collapse-item__header {
    line-height: 1.6;
    background: #f0ffd4;
    padding: 40px;
    font-size: 1.125rem;
    font-weight: 600;
  }

  &.inverse .el-collapse-item__header {
    border-left: 5px solid #FCB320;
  }

  .el-collapse-item__content {
    padding: 60px;

    ul {
      list-style: none;

      li {
        font-size: 1.125rem;
      }
    }
  }
}

@media (max-width: 992px) {
  html,
  body {
    font-size: 15px;
  }
}

@media (max-width: 600px) {

  .el-collapse-item  {
    margin-bottom: 15px;

    .el-collapse-item__header {
      padding: 30px 10px;
      font-size: 0.875rem;
    }

    .el-collapse-item__content {
      padding: 10px
    }
  }
}
