h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", serif;
  line-height: 1.4;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.625rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.375rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: 0.875rem;
  line-height: 1.6;
}

a {
  color: #6A8B2C;
  text-decoration: none;
}

.text-regular {
  text-transform: none !important;
}

.text-black {
  color: #292222 !important;
}

.text-bold {
  font-weight: 700 !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.vm-section__heading {
  margin-bottom: 40px;
  text-align: center;
  width: 100%;

  h2 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #8B882C;
  }

  p {
    font-size: 1.2rem;
    color: #000000;
    width: 75%;
    margin: 0 auto;
    line-height: 1.8;
  }
}

.vm-section_content {
  width: 100%;
  margin-bottom: 30px;

  h3, h4, h5, h6 {
    color: #6A8B2C;
    margin-bottom: 15px;
  }

  p {
    font-size: 1.125rem;
    line-height: 2;

    + p {
      margin-top: 20px;
    }
  }

  ul {
    list-style: none;
    margin: 30px 0;

    li {
      color: #292222;
      position: relative;
      padding-left: 20px;
      line-height: 1.8;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        height: 7px;
        width: 7px;
        background: #6A8B2C;
        border-radius: 100px;
      }

      span {
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 400px) {
  .vm-section__heading {
    margin-bottom: 20px;

    h2 {
      font-size: 1.75rem;
    }

    p {
      width: 100% !important;
    }
  }

  .vm-section_content {
    p {
      font-size: 0.875rem !important;
      text-align: justify;
    }
  }
}
